body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        to bottom,
        #1F262D 0%,
        #191F24 50%,
        #171B20 75%,
        #14181C 100%
    );
    color: #EAE4E4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* Main container */
.main-container {
    margin-top: 30px;
    width: 80%;
    max-width: 1000px;
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.review-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.review-poster {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    max-height: 225px;
}

.review-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    max-width: 80%;
}

.review-content {
    font-size: 1em;
    color: #B0B0B0;
    overflow-wrap: break-word;
}

.review-author {
    font-size: 1em;
    color: #FFFFFF;
}

.rating {
    font-size: 1.2em;
    color: #FFD700;
}



.comment-input {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.comment-input textarea {
    width: 60%;
    padding: 10px;
    background-color: #2e2e2e;
    color: #eae4e4;
    font-size: 1em;
    resize: none;
}

.comment-input button {
    padding: 10px 20px;
    background: #292A2F;
    color: #EAE4E4;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
    font-weight: 550;
}

.comment-input button:hover {
    background-color: #5a5e8d;
}
.comment-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 15px;
    width: 99%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-author-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.comment-author-name {
    font-weight: bold;
    color: #EAE4E4;
}

.comment-content {
    color: #EAE4E4;
    font-size: 1em;
    margin-top: 5px;
}

.comments-section {
    margin-top: 30px;
    text-align: left;
}

.comments-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FFFFFF;
}